{{>header}}
{{>navbar}}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Darth Vader</h1>
            <p>Vader has the force.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/star.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
</div>
{{>footer}}